@font-face
{
  font-family: Marcellus SC;
  src: url('MarcellusSC-Regular.ttf')
}

body{
	font-family: 'Marcellus SC', serif;
	/*background: #fff url(../img/wood-bg.jpg);*/
	color: #584941;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
  background-color: rgb(231, 231, 231); 
}

.navbar-inner
{
  border-radius: 0px;
}

.navbar-inner_min {
  min-height: 25px;
  font-size: 13px;
}

.inline_for div
{
  display: inline;
}

.navbar-inner_min > .navbar .nav > li > a
{
  padding: 2px 10px 0px 10px;
}

#breadcrumb
{
  font-size: 12px;
}

footer
{
  text-align: center;
}

.imagecenter
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ms-custom-form
{
  padding: 0px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
  padding-left: 30px;
  padding-bottom: 2.5em;
}

.ms-form-right-detail
{
  padding-bottom: 6px;
  background-color: rgb(255, 255, 255);
  padding-left: 12px;
  margin-bottom: 5px;
}

[class^="msicon-"],[class*="msicon-"] {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 0px;
  *margin-right: 0em;
  line-height: 5px;
  vertical-align: text-top;
  background-image: url("../img/iconos-microsip.png");
  background-position: 30px 30px;
  background-repeat: no-repeat;
}

.text-center{
  text-align: center;
}
/* White icons with optional class, or on hover/focus/active states of certain elements */

.msicon-white,
.nav-pills > .active > a > [class^="msicon-"],
.nav-pills > .active > a > [class*=" msicon-"],
.nav-list > .active > a > [class^="msicon-"],
.nav-list > .active > a > [class*=" msicon-"],
.navbar-inverse .nav > .active > a > [class^="msicon-"],
.navbar-inverse .nav > .active > a > [class*=" msicon-"],
.dropdown-menu > li > a:hover > [class^="msicon-"],
.dropdown-menu > li > a:focus > [class^="msicon-"],
.dropdown-menu > li > a:hover > [class*=" msicon-"],
.dropdown-menu > li > a:focus > [class*=" msicon-"],
.dropdown-menu > .active > a > [class^="msicon-"],
.dropdown-menu > .active > a > [class*=" msicon-"],
.dropdown-submenu:hover > a > [class^="msicon-"],
.dropdown-submenu:focus > a > [class^="msicon-"],
.dropdown-submenu:hover > a > [class*=" msicon-"],
.dropdown-submenu:focus > a > [class*=" msicon-"] {
  background-image: url("../img/iconos-microsip.png");
}

.msicon-admin 
{
  background-position: -3px -367px;
}

.msicon-logout 
{
  background-position: -4px -334px;
}

.msicon-inventarios 
{
  background-position: -4px -38px;
}

.msicon-ventas 
{
  background-position: -5px -3px;
}

.msicon-cuentas_por_pagar 
{
  background-position: -4px -101px;
}

.msicon-cuentas_por_cobrar 
{
  background-position: -4px -68px;
}

.msicon-compras 
{
  background-position: -4px -133px;
}

.msicon-punto_de_venta {
  background-position: -3px -263px;
}

.msicon-contabilidad
{
  background-position: -4px -198px;
}

.msicon-reportes
{
 background-position: -4px -164px; 
}

.msicon-home
{
  background-position: -4px -230px;
}

.pagecontent
{
	background-color: rgba(255, 255, 255, 1);
	text-align: left;
	padding: 1em;
	padding-top: 0em;
	padding-bottom: 2em;
	margin-left: 1em;
	margin-right: 1em;
}

.table th, .table td
{
	padding: 0px;
}

.mainmenu
{
	text-align: center;
}
/* Botón Ir Arriba
----------------------------------------------- */
#IrArriba {
position: fixed;
bottom: 30px; /* Distancia desde abajo */
right: 30px; /* Distancia desde la derecha */
}

.navbar
{
	margin-bottom: -1px;
}

.autocomplete-light-widget
{
  font-size: 14px; 
}

.text-error
{
  font-size: 12px;
}

#IrArriba span {
width: 60px; /* Ancho del botón */
height: 60px; /* Alto del botón */
display: block;
background: url(http://lh5.googleusercontent.com/-luDGEoQ_WZE/T1Ak-gta5MI/AAAAAAAACPI/ojfEGiaNmGw/s60/flecha-arriba.png) no-repeat center center;
}

.label_min 
{
    display:none;
}

/* Pantallas grandes */
@media only screen and (max-width : 980px) {
  .label_min {
    display:block;
    padding-top: .4em;
  }
}


.small_screen
{
  display: none;
}

/*/* Pantallas pequeñas */
@media only screen and (max-width : 800px) {
  .small_screen
  {
    display: inline-block ;
  } 
}