.label_extra
  display: table-cell

.big_screen
  display: block

.table_bigscreen
  display: table

.all_screen #id_ubicacion
  margin: .7em

.ms-custom-form
  height: 5em

.money-text
  color: orange

#btn-primarymenu
  background-color: rgb(211, 63, 63)
  background-image: none

.navbar .nav > li > a
  padding: 5px 15px 4px

#span_alerta_unidades
  font-size: 12px
  display: inline

.small_screen_block
  display: none

.big_screen_block
  display: inline-block

#span_details
  height: 0

#chbx_modorapido
  display: none

@media only screen and (max-width : 770px)
  body
    padding: 0

  .all_screen #id_ubicacion
    margin: 0

  .big_screen
    display: none

  .small_screen
    display: inline-block

  .table_bigscreen
    display: none

  .label_extra
    display: none

  .ms-custom-form
    margin: 0
    padding: 0
    height: 0

@media only screen and (max-width : 770px)
  #span_alerta_unidades
    display: block

  #chbx_modorapido
    display: inline-block

  #tools-module-bar
    display: none

  .big_screen_block
    display: none

  #span_details button
    float: right

  #span_details
    height: 1em

  .all_screen
    text-align: left

  .small_screen_block
    display: block

