{% extends "main/base.html" %}
{% block title %}Selecciona una base de datos{% endblock %}

{% block content %}
{% if message %}
<div class="alert alert-block alert-error fade in">
<button type="button" class="close" data-dismiss="alert">×</button>
<br>
<p>{{ message }}</p>
</div>
{% endif %}

<form  style='text-align:center;' id='formulario' action="#" method="post">{% csrf_token %}
	{{ form.errors }}
	<br>
	Empresa <br>
	{{ form.conexion }}<br>
	<input class="btn" type="submit" value="Seleccionar" />
</form>

{% endblock %}