{% extends "punto_de_venta/base.html" %}
{% block title %}documentos{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}{% endblock %}

{% block breadcrumb %}{{ block.super }} Devoluciones {% endblock %}
{% block content %}
<div id="sic_from" class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="container-fluid">
        <div class="row-fluid">
          <h3>Devoluciones</h3>  
        </div>
      </div>
    </div>
    <div class="span9">
      <div id='main_form'>
      </div>
    </div>
  </div>
</div>
<table class="table tableCell table-hover">
    <tr>
      <th>FOLIO</th>
    </tr>
    {% for documento in documentos%}
    <div id="myModal{{ documento.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">Seguro que Deseas Eliminar</h3>
      </div>
      <div class="modal-body">
        <h4>Al eliminar el documento</h4>
        <p style="color:red;">Ya no sera posible recuperar los datos del documento</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancelar</button>
        <a href="#" class="btn btn-primary">Estoy Seguro</a>
      </div>
    </div>
    <tr>
      <td>
        <a href="/punto_de_venta/documento/{{ documento.id }}/">{{ documento.folio }}</a>
      </td>
      <td style="text-align:center;">
        <a href='#myModal{{ documento.id}}' data-toggle="modal" class="btn btn-mini btn-danger"><i class="icon-trash"></i></a>
      </td>
    </tr>
    {% endfor %}

    <div class="pagination pagination-mini mainmenu">
      <ul>
        {% if documentos.has_previous %}
        <li><a href="?page={{ documentos.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="disabled"><a href="#">Anterior</a></li>
        {% endif %}
        <li class="disabled"><a href="#">Pagina {{ documentos.number }} de {{ documentos.paginator.num_pages }}.</a></li>
        {% if documentos.has_next %}
        <li><a href="?page={{ documentos.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="disabled"><a href="#">Siguiente</a></li>
        {% endif %} 
      </ul>
    </div>
</table>
<br>
{% endblock %}