{% extends "base.html" %}
{% block title %}Inventarios{% endblock %}

<!-- CSS Code -->
{% block modulestyle_css %}
	
{% endblock %}
<!-- JavaScript Code -->
{% block js_code %}{% endblock %}
{% block selected_module %}<a href="/inventarios/InventariosFisicos/"> <i class="msicon-inventarios"></i> <label class="small_screen"> Inventarios</label></a>{% endblock %}
{% block btn_modulo_inventarios%}
<li style='color: #555555; background-color: #e5e5e5;'><a href="/inventarios/InventariosFisicos/"> <i class="msicon-inventarios"></i> <label class='small_screen'> Inventarios</label></a> </li>
{% endblock %}
{% block breadcrumb %}{{ block.super }}{% endblock %}
{% block tools-module %}
<div class="navbar navbar-static">
  <ul class="nav" role="navigation">
    <li><a tabindex="-1" href="/inventarios/InventariosFisicos/"><i class="icon-folder-close"></i> <span class=""> Documentos</span></a></li>
    <li><a tabindex="-1" href="/inventarios/articulos/"><i class="icon-barcode"></i> <span class="">Articulos</span></a></li>
  </ul>
</div>
{% endblock %}
{% block content %}
{% endblock %}