{% extends "punto_de_venta/base.html" %}
{% block title %}Inicio{% endblock %}

<!-- CSS Code -->
{% block style_css %}
{% endblock %}
<!-- JavaScript Code -->
{% block js_code %}
{% include 'autocomplete_light/static.html' %}
<script>


$(function() {

  if ($('#id_hereda_valorpuntos').is(':checked'))
    $('#id_valor_puntos').hide();
  else
  {
    $('#id_valor_puntos').show();
    if ($('#id_valor_puntos').val() == '') 
      $('#id_valor_puntos').val(0);
  }


  $('#id_hereda_valorpuntos').click(function() {
    if ($('#id_hereda_valorpuntos').is(':checked'))
      $('#id_valor_puntos').hide();
    else
    {
      $('#id_valor_puntos').show();
      if ($('#id_valor_puntos').val() == '') 
        $('#id_valor_puntos').val(0);
    }
  });
  
  if ($('#id_tipo_tarjeta').val()=='N')
    $('#div_darpuntos_a').hide();

  if ($('#id_tipo_tarjeta').val()=='P')
    $('#div_valor_puntos').show();
  else
    $('#div_valor_puntos').hide();

  $('#id_tipo_tarjeta').change(function(event){
    if ($('#id_tipo_tarjeta').val()=='P')
      $('#div_valor_puntos').show();
    else
      $('#div_valor_puntos').hide(); 

    if ($('#id_tipo_tarjeta').val()=='N')
      $('#div_darpuntos_a').hide();
    else
      $('#div_darpuntos_a').show();
  });

});
</script>
{% endblock %}

{% block breadcrumb %}{{ block.super }} Generar lote de tarjetas {% endblock %}
{% block content %}
{% if msg %}
<div class="alert alert-success fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Bien hecho!! </strong> {{ msg }}
</div>
{% endif %}
<div class="ms-custom-form container-fluid hidden-phone">
  <div class="row-fluid">
    <div class="span3"><h3>Generar lote de tarjetas</h3></div>
    <div class="span8" style=" margin-top: 15px; ">
      
    </div>
  </div>
</div>
{{ form.errors }}
<form method="post" id='formulario'class="form-horizontal" action="" width="300px"  enctype='multipart/form-data'>{% csrf_token %}

  <div  class="row">
    <div class="span" >
      <label>Tipo de tarjetas</label>
      <div class="input-prepend input-append">
        {{ form.tipo_tarjeta}}
      </div>
    </div>
    <div class="span" >
      <label>Puntos</label>
      <div class="input-prepend input-append">
        {{ form.puntos }}
      </div>
    </div>
    <div class="span" >
      <label>Dinero Electronico</label>
      <div class="input-prepend input-append">
        {{ form.dinero_electronico }}
      </div>
    </div>
    <div class="span" id='div_valor_puntos'>
      <label>Hereda valor de puntos {{ form.hereda_valorpuntos }}</label>
      <div class="input-prepend input-append">
        {{ form.valor_puntos }}
      </div>
    </div>
    <div class="span" id="div_darpuntos_a">
      <label>Dar puntos a</label>
      <div class="input-prepend input-append">
        {{ form.hereda_puntos_a }}
      </div>
    </div>
  </div>
  <div  class="row">
    <div class="span" >
      <label>Prefijo</label>
      <div class="input-prepend input-append">
        {{ form.prefijo }}
      </div>
    </div>
    <div class="span" >
      <label>Iniciar en</label>
      <div class="input-prepend input-append">
        {{ form.iniciar_en }}
      </div>
    </div>
    <div class="span" >
      <label>Cantidad</label>
      <div class="input-prepend input-append">
        {{ form.cantidad }}
      </div>
    </div>
    <div class="span" >
      <label>.</label>
      <div class="input-prepend input-append">
        <input type="submit" class="btn" onclick="this.disabled=true,this.form.submit(), this.value='Generando tarjetas...';" value="Generar tarjetas" />
      </div>
    </div>
  </div>
</form>

{% endblock %}