{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>Microsip</title>

  <!-- Estilos -->
  <link rel='stylesheet' href='{{STATIC_URL}}css/bootstrap.css'/>
  <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'/>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
  <link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>

  {% block style_css %}{% endblock %}
  {% block modulestyle_css %}{% endblock %}

  <link rel='shortcut icon' href='{{STATIC_URL}}img/logo.png'>

  <script src="{{STATIC_URL}}js/jquery.min.js" ></script>
  <script src='{{STATIC_URL}}js/bootstrap.js' ></script>
  <script src='{{STATIC_URL}}js/jquery-ui-1.8.23.custom.min.js'></script>
  <script src='{{STATIC_URL}}js/jquery-ui-timepicker.js'></script>
  <script src='{{STATIC_URL}}js/jquery.tablesorter.js'></script>
  {% block js_code %}
    
  {% endblock %}
  {% dajaxice_js_import %}
</head>
<body>
  
  <section class='content' style='clear:both;'>
    <div class="pagecontent">
      {% block content %}{% endblock %}
    </div>
  </section>
  <footer>
    SIC &copy; 2013
  </footer>

  <div id="IrArriba" style="display: block;">
    <a href="#Arriba"><span></span></a>
  </div>
  <script type="text/javascript">
  //<![CDATA[
  // Botón para Ir Arriba
  $(document).ready(function() {
    $("#IrArriba").hide();
    $(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 200) {
          $('#IrArriba').fadeIn();
        } else {
          $('#IrArriba').fadeOut();
        }
      });
      $('#IrArriba a').click(function () {
        $('body,html').animate({
          scrollTop: 0
        }, 800);
        return false;
      });
    });

  });
  //]]>
  </script>
</body>
</html>