{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>{% block title %}Microsip{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 maximum-scale=1" />

  <!-- Estilos -->
  <link rel='stylesheet' href='{{STATIC_URL}}css/normalize.css'/>
  <link rel='stylesheet' href='{{STATIC_URL}}css/bootstrap.min.css'/>
  <link rel='stylesheet' href='{{STATIC_URL}}css/bootstrap-responsive.min.css'/>
  <link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/!style.css" />
  <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'/>
  <link rel='stylesheet' href='{{STATIC_URL}}css/mobile.css'/>
  
  {% block style_css %}{% endblock %}
  <link rel='shortcut icon' href='{{STATIC_URL}}img/logo.ico'>
  {% dajaxice_js_import %}
</head>
<body>
  <div id="navbar-example" class="navbar navbar-static">
    <div class="navbar-inner inventarios_btn" >
      <div class="container" style="width: auto;">
        <!-- <a class="brand" href="#"><i class="icon-home"></i></a> -->
        <button type="button" id="btn-primarymenu" class="btn btn-primary btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="brand" href="#"></a> --><div class="span1 label_min"> {% block selected_module %}Microsip{% endblock %}</div>
        <div class="nav-collapse collapse">
          <ul class="nav" role="navigation">
            
            {% load main_menu_tags %}
            {% block btn_modulo_cuentas_por_cobrar %}
              {% microsip_module_btn 'microsip_web.apps.cuentas_por_cobrar' %}
            {% endblock %}

            {% block btn_modulo_inventarios%}
              {% microsip_module_btn 'microsip_web.apps.inventarios' %}
            {% endblock %}

            {% block btn_modulo_ventas%}
              {% microsip_module_btn 'microsip_web.apps.ventas' %}
            {% endblock %}

            {% block btn_modulo_cuentas_por_pagar %}
              {% microsip_module_btn 'microsip_web.apps.cuentas_por_pagar' %}
            {% endblock %}

            {% microsip_module_btn 'microsip_web.apps.compras' %}
            
            {% block btn_modulo_punto_venta %}
              {% microsip_module_btn 'microsip_web.apps.punto_de_venta' %}
              <!-- {% microsip_module_btn 'admin' %} -->
            {% endblock %}

            {% block btn_modulo_contabilidad %}
              {% microsip_module_btn 'microsip_web.apps.contabilidad' %}
            {% endblock %}
            
          </ul>
          <ul class="nav pull-right">  
          {% if not user.is_anonymous %}
          <li id="fat-menu" class="dropdown">
            <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 0.7em;">
              <i class="icon-user"></i> {{ user.username }} ({{ request.session.selected_database }})
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/select_db/"><i class="icon-cog"></i> Cambiar Empresa</a></li>
              <li role="presentation" class="divider"></li>
              {% if request.user.username == 'SYSDBA' %}
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/conexiones/"><i class="icon-random"></i> Conexiones</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/inicializar_tablas/"><i class="icon-refresh"></i> Actualizar base de datos</a></li>
              <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="/reiniciar_servidor/"><i class="icon-refresh"></i> Reiniciar servidor</a></li> -->
              {% endif %}
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout/"> <i class="icon-remove"></i> Cerrar Sesion</a></li>
            </ul>
          </li>
          {% else %}
          <div id=" span breadcrumbs" style="margin-left: 35px;">
            <div class ='span'style="text-align:right; height:2em; margin-right: 2em; margin-top: 6px; vertical-align:bottom;">
              <a class="btn btn-small" href="/login/"><i class="icon-user"></i> Iniciar Sesión</a>
            </div>
          </div>  
          {% endif %}
        </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="tools-module-bar" class="navbar-inner navbar-inner_min " style=" background-image: linear-gradient(to bottom, #e5e5e5, #e5e5e5); ">
    {% block tools-module %}
    {% endblock %}
  </div>
  <div id="span breadcrumbs" style="clear:both; margin-left: 35px;" class="hidden-phone">
    <div id='breadcrumb' class='span6'>
    {% block breadcrumb %}<a href="/"><i class="icon-home"></i></a>{% endblock %}
    </div>
  </div>
  <section class='content' style='clear:both;'>
    <div class="pagecontent">
      {% block content %}{% endblock %}
    </div>
  </section>
  <footer> 
    <br>
    <div class="row-fluid text-left hidden-phone">
      <div class="span6 offset1">
        <strong>CONTACTO </strong>
        <br>
        <address>
          <abbr title="Telefono">Tel 1:</abbr> (625) 582-5014<br>
          <abbr title="Telefono">Tel 2:</abbr> (625) 587-7607<br>
        </address>
      </div>
      <div class="span3">
        <p class="text-right">
          <!-- <img src="{{STATIC_URL}}img/logo.png" style="height: 65px; width: 80px;"> -->
          <br>
        </p>
      </div>
    </div>
    <div>
      SIC &copy; 2013
    </div>
  </footer>
  
  <script src="{{STATIC_URL}}js/modernizr2.js" ></script>
  <script src="{{STATIC_URL}}js/jquery.min.js" ></script>
  <script src='{{STATIC_URL}}js/bootstrap.min.js' ></script>
  <script src='{{STATIC_URL}}js/jquery-ui.min.js'></script>
  <script src='{{STATIC_URL}}js/jquery-ui-timepicker.js'></script>
  <script src='{{STATIC_URL}}js/jquery.tablesorter.js'></script>
  
  <script src='{{STATIC_URL}}js/jquery.cookie.js'></script>
  <script src='{{STATIC_URL}}js/jquery.hotkeys.js'></script>
  <script src='{{STATIC_URL}}js/jquery.jstree.js'></script>

  
  {% block js_code %}
    
  {% endblock %}
  <div id="IrArriba" class="hidden-phone">
    <a href="#Arriba"><span></span></a>
  </div>
  <script type="text/javascript">
  //<![CDATA[
  // Botón para Ir Arriba
  $(document).ready(function() {
    $("#IrArriba").hide();
    $(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 200) {
          $('#IrArriba').fadeIn();
        } else {
          $('#IrArriba').fadeOut();
        }
      });
      $('#IrArriba a').click(function () {
        $('body,html').animate({
          scrollTop: 0
        }, 800);
        return false;
      });
    });

  });
  //]]>
  </script>
</body>
</html>