{% extends "inventarios/base.html" %}
{% block title %}{{ almacen.nombre }}{% endblock %}

<!-- CSS Code -->
{% block style_css %}
<link rel='stylesheet' href='{{STATIC_URL}}css/inventarios.css'/>
{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}
{% include 'autocomplete_light/static.html' %}
<script src="{{STATIC_URL}}js/inventarios.ajustes.js" ></script>
<script src="{{STATIC_URL}}js/inventarios.ajustes.mobile.js" ></script>
{% endblock %}

{% block breadcrumb %}{% endblock %}
{% block content %}
<div id="modal_opciones-claves" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">Claves</h3>
  </div>
  <div class="modal-body">
  </div>
</div>
<div id="modal_movimientos_articulo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">Detalle de Movimientos</h3>
  </div>
  <div class="modal-body">
  </div>
</div>
<form method="post" class="form-horizontal" action="#">
  <input type="hidden" id ="id_seguimiento" name="seguimiento" value="">
  <div class="ms-custom-form collapse">
    <div>
      <div class='span all_screen' >
        <label class="small_screen"> Ubic.</label> 
        <input class="input-small" id="id_ubicacion" name="ubicacion" placeholder="Ubicacion.." type="text">  
        <input type="checkbox" id="chbx_modorapido" value="ham" onclick="limpiarForm();" /><div class="small_screen" style="font-size: .8em;">Rapido</div>
        <input checked="checked" id="id_ajusteprimerconteo" name="ajustesprimerconteo" type="checkbox" ><div class="small_screen" style="font-size: .8em;">APC</div>
      </div>
    </div>
  </div>
  <div id='label_linea'></div>
  <div id="span_details" class="small_screen_block">
    <button type="button" class="btn btn-mini btn-navbar" data-toggle="collapse"  data-target=".ms-custom-form">
      <i class="icon-arrow-down"></i>
    </button>
  </div>
  {% csrf_token %}
   
  {{ form.errors }}

  <div class="span span_clave" >
    <div class="input-prepend input-append">
      <span class="add-on ">Clave</span>
      {{ form.claveArticulo }}
    </div>
  </div>
  <div class="span span_articulo" >
    <div class="input-prepend input-append">
      {{ form.articulo }}
    </div>
    <div>
      <span id='span_alerta_unidades' class="text-error" style=" background-color: rgb(255, 0, 0); color: white; display: inline; "> </span>
      <span id='span_ya_ajustado' class="text-error" style=" background-color: rgb(20, 122, 11); color: white; padding: .2em 2em;"> ya contado </span>
      <span id='span_sin_ajustado' class="text-error" style=" background-color: rgb(224, 132, 14); color: white; padding: .2em 2em;"> sin contar </span>
    </div>
  </div>
  <a id="buscar_btn" class= "btn btn-primary span12 " href="#" onclick="buscarClave()" ><i class="icon-search icon-white"></i> <br>Buscar</a>
  <div class="span1 span_unidades" >
    <div class="input-prepend input-append">
      {{ form.unidades }}
      {% if puede_modificar_costos %}
        {{ form.costo_unitario }}
      {% endif %} 
      <a class="btn btn-success " id="enviar_btn" onclick="add_existenciasarticulo_byajuste()" href="#">Enviar</a>
    </div>
  </div>
  <br>
  <a id="cancelar_btn" class= "btn btn-danger span12 " href="#" onclick="limpiarForm();" >Cancelar</a>
  <br style='clear:both;'>
  <input type="hidden" id="almacen_nombre" value="{{ almacen.nombre }}"/>
  <input type="hidden" id="entrada_id" value="{{ entrada_id }}"/>
  <input type="hidden" id="is_mobile" value="{{ is_mobile }}"/>
  <input type="hidden" id="salida_id" value="{{ salida_id }}"/>
  <input type="hidden" id="almacen_id" value="{{ almacen_id }}"/>
  <input type="hidden" id="puede_modificar_costos" value="{{ puede_modificar_costos }}"/>
  <div id='ultimo_conteo'></div>
</form>

{% endblock %}