{% extends "inventarios/base.html" %}
{% block title %}Preferencias{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}
{% endblock %}
{% block breadcrumb %}{{ block.super }} Preferencias{% endblock %}
{% block content %}
<form method="post" action="" width="300px"  enctype='multipart/form-data'>{% csrf_token %}
  {{ form.errors }}
  {{ generalform.errors }}
  {% if msg %}
  <div class="alert alert-success fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Bien hecho!!</strong> {{ msg }}
  </div>
  {% endif %}
  <div class="row-fluid">
    <h3 class="span3" style='margin:0;'> Prefernecias  </h3> 
    <button type="submit" class="btn"><i class="icon-download-alt"></i> Guardar</button> 
  </div>
  <ul id="myTab" class="nav nav-tabs " style="margin-bottom: 0;">
    <li class="active"><a href="#general" data-toggle="tab">General</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="general" style="padding-bottom: 0;">
      <fieldset>
        <legend>Otros</legend> 
        <div class='span4'>
          <strong> Almacen clon</strong> {{ generalform.almacen_clon }}
        </div>
      </fieldset>
    </div>
  </div>
</form>

{% endblock %}