{% extends "base.html" %}
{% block title %}Punto de venta{% endblock %}
{% load punto_de_venta_tags %}
<!-- CSS Code -->
{% block style_css %}{% endblock %}
{% block modulestyle_css %}{% endblock %}
<!-- JavaScript Code -->
{% block js_code %}{% endblock %}
{% block selected_module %}<a href="/punto_de_venta/facturas/"> <i class="msicon-punto_de_venta"></i> <label class="small_screen"> Punto de venta</label></a>{% endblock %}
{% block btn_modulo_punto_venta %}
  <li style='color: #555555; background-color: #e5e5e5;'><a href="/punto_de_venta/facturas/"> <i class="msicon-punto_de_venta"></i><label class='small_screen'> Punto de venta</label></a></li>
{% endblock %}

{% block breadcrumb %}{{ block.super }} Punto de venta <i class=' icon-play'></i>{% endblock %}
{% block tools-module %}
<div class="navbar navbar-static">
  <ul class="nav" role="navigation">
  <li class="dropdown">
    <a id="drop1" href="#"role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-folder-close"></i> 
      <span class="hidden-phone">Documentos</span> <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <!-- <li><a tabindex="-1" href="/punto_de_venta/ventas/"><i class="icon-shopping-cart"></i> Ventas de mostrador</a></li>
      <li><a tabindex="-1" href="/punto_de_venta/devoluciones/"><i class="icon-remove"></i> Devoluciones de ventas</a></li> -->
      <li><a tabindex="-1" href="/punto_de_venta/facturas/"><i class="icon-qrcode"></i> Facturas</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a id="drop1" href="#"role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-barcode"></i> <span class="hidden-phone">Articulos</span> <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <li><a tabindex="-1" href="/punto_de_venta/articulos/"><i class="icon-barcode"></i> Articulos</a></li>
      <li><a tabindex="-1" href="/punto_de_venta/lineas_articulos/"><i class="icon-tasks"></i> Lineas</a></li>
      <li><a tabindex="-1" href="/punto_de_venta/grupos_lineas/"><i class="icon-globe"></i> Grupos</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a id="drop1" href="#"role="button" class="dropdown-toggle" data-toggle="dropdown"> 
      <i class="icon-user"></i> <span class="hidden-phone">Clientes</span> <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <li><a tabindex="-1" href="/punto_de_venta/clientes/"><i class="icon-user"></i> Clientes</a></li>
      <li><a tabindex="-1" href="/punto_de_venta/tipos_cliente/"><i class="icon-folder-open"></i> Tipos Clientes</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a id="drop1" href="#"role="button" class="dropdown-toggle" data-toggle="dropdown"> 
      <i class="icon-list-alt"></i> <span class="hidden-phone">Listas</span> <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <li><a tabindex="-1" href="/punto_de_venta/impuestos/"><i class="icon-tag"></i> Impuestos</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a id="drop1" href="#"role="button" class="dropdown-toggle" data-toggle="dropdown"> 
      <i class="icon-th"></i> <span class="hidden-phone">Otros</span> <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <li><a tabindex="-1" href="/punto_de_venta/ciudades/"><i class="icon-road"></i> Ciudades</a></li>
      <li><a tabindex="-1" href="/punto_de_venta/estados/"><i class="icon-flag"></i> Estados</a></li>
      <li><a tabindex="-1" href="/punto_de_venta/paises/"><i class="icon-globe"></i> Paises</a></li>
    </ul>
  </li>
  </ul>
  <ul class="nav pull-right">
    <li class="dropdown">
      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-cog"></i> <span class="hidden-phone">Herramientas</span> <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1" style='text-align:left;'>
        <li><a tabindex="-1" href="/punto_de_venta/PreferenciasEmpresa/"><i class="icon-cog"></i> Preferencias de la empresa</a></li>
        {% generar_polizas_tag 'generar_polizas'%}
        {% if request.user.username == 'SYSDBA' %}
          {% puntos_tag 'generar_tarjetas' %}
          {% puntos_tag 'inicializar_puntos' %}        
        {% endif %}
      </ul>
    </li>
  </ul>
</div>

<div id="myModal_inicializar_puntos_clientes" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">Seguro que Deseas inicializar los puntos de los clientes</h3>
      </div>
      <div class="modal-body">
        <h4>Al Inicializar los puntos de los cliente</h4>
        <p style="color:red;">Se eliminaran puntos y dinero elecronico de "TODOS" los clientes y tipos de clientes</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancelar</button>
        <a href="/punto_de_venta/inicializar_puntos_clientes" class="btn btn-primary">Estoy Seguro</a>
      </div>
</div>
<div id="myModal_inicializar_puntos_articulos" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">Seguro que Deseas inicializar los puntos de los Articulos</h3>
      </div>
      <div class="modal-body">
        <h4>Al Inicializar los puntos de los Articulos</h4>
        <p style="color:red;">Se eliminaran puntos y dinero elecronico de "TODOS" los articulos, lineas y grupos</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancelar</button>
        <a href="/punto_de_venta/inicializar_puntos_articulos" class="btn btn-primary">Estoy Seguro</a>
      </div>
</div>

{% endblock %}
{% block content %}
{% endblock %}