{% extends "inventarios/base.html" %}
{% block title %}INV. {{ InventarioFisico.folio}} ({{ InventarioFisico.almacen}}){% endblock %}

<!-- CSS Code -->
{% block style_css %}
<link rel='stylesheet' href='{{STATIC_URL}}css/inventarios.css'/>
{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}
{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block content %}
{% if msg_series %}
<div class="alert alert-block alert-error fade in">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <p>{{ msg_series }}</p>
</div>
{% endif %}
<form method="post" class="form-horizontal" action="#">{% csrf_token %}
  <div class="ms-custom-form collapse">
    <div>
      <div class='span' >
          <a href=""> Inventario xy123</a>
      </div>
    </div>
  </div>
  {{ formset.management_form }}
  {{ formset.non_field_errors }}
  <div><h5>Numeros de serie actuales</h5></div>
  <div>
  {% for articulo_discreto in articulos_discretos_actuales %}
    {{ articulo_discreto.art_discreto.clave }} /
  {% endfor %}
  </div>
  <h3 id="myModalLabel">Numeros de Series</h3>
  <table class="table tableCell table-hover tablesorter" id="id_numeros_serie" border="0" cellpadding="0" cellspacing="1">
    <thead>
      <tr>
        <th >Claves o Numeros de series</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="sortable">
      {% for form in formset.forms %}
      <tr id="{{ form.prefix }}-row" class="form-container">
          {% for hid in form.hidden_fields %} {{hid}}{% endfor %} 
          <td>{{ form.clave }}</td>
          <td>
            {% if not inicio_form %}
                <div class="text-error">
                  {{ form.errors }}
                </div>
            {%  endif %}
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="modal-footer">
    <button class="btn" id='btnCancel' data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn" name='add_button'>Aceptar</button>
  </div>
</form>

{% endblock %}