{% extends "inventarios/base.html" %}
{% block title %}INV. {{ InventarioFisico.folio}} ({{ InventarioFisico.almacen}}){% endblock %}

<!-- CSS Code -->
{% block style_css %}
{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}
{% include 'autocomplete_light/static.html' %}      
<script src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>


<script type="text/javascript">

  function agregar_articulos_porlineafn()
  {
    var linea = $("#id_linea").val();
    if (linea == '') 
      alert('Por favor seleccione una linea');
    else
    {
      Dajaxice.microsip_web.apps.inventarios.add_articulos_nocontabilizados_porlinea(mostrar_articulos_agregados,{'inventario_id': {{ inventario_id }},'linea_id':linea,});
    }
  }

  function agregar_articulosfn()
  {
    $("#modal_cargando").modal();
    Dajaxice.microsip_web.apps.inventarios.add_articulos_nocontabilizados(mostrar_articulos_agregados,{'inventario_id': {{ inventario_id }}, });
  }

  function mostrar_articulos_agregados(data){
    if (data.articulos_agregados > 0)
    {
      mensaje ='Se agregaron '+ data.articulos_agregados+ ' Articulos'
      if (data.articulo_pendientes > 0)
        mensaje = 'La aplicacion solo genero ' + data.articulos_agregados+ ' Articulos, faltaron de generar '+data.articulo_pendientes + ' Articulos.'
      alert(mensaje);
    }
    else
      alert('No hay articulos por inicializar');
    
    window.location = "/inventarios/InventarioFisico_pa/{{ inventario_id }}/";
  }
  
  
  
  $(document).ready(function(){
    

    $('#id_unidades, #id_articulo_text').focus(function() { 
      setTimeout(function(){
        window.scrollTo(0, 3);
      }, 0);  
    });

    modo_rapido = localStorage.getItem("modo_rapido");
    if (modo_rapido == null)
      localStorage.setItem("modo_rapido", 'false');
    
    if(localStorage.getItem("modo_rapido") == 'true')
      $("#id_clave").focus();
    else
      $("#id_articulo_text").focus();

    $('#id_clave').focusin(function(){
      if (localStorage.getItem("modo_rapido") == 'false')
        localStorage.setItem("modo_rapido", 'true');
    });

    $('#id_articulo_text').focusin(function(){
      if (localStorage.getItem("modo_rapido") == 'true')
        localStorage.setItem("modo_rapido", 'false');
    });

    ubicacion = localStorage.getItem("ubicacion");
    if (ubicacion == null)
      localStorage.setItem("ubicacion", '');
    $("#id_ubicacion").val(localStorage.getItem("ubicacion"));
    $("#id_ubicacion").change(function() {
      localStorage.setItem("ubicacion",$("#id_ubicacion").val());
    });



    $('#id_clave').live('keydown', function(e) { 
      var keyCode = e.keyCode || e.which; 

      if (keyCode == 13 || keyCode == 9) 
      { 
        if($("#id_clave").val() != '')
          Dajaxice.microsip_web.apps.inventarios.get_articulo_by_clave(mostrar_articulo,{'clave': $('#id_clave').val(),});
        else
          $("#id_articulo_text").focus();
        return false
      }

    });

    
    $("#id_articulo").change(function(){
      if ($("#id_articulo").children().length > 0)
        Dajaxice.microsip_web.apps.inventarios.get_articulosen_inventario(mostrar_unidades,{'inventario_id': {{ InventarioFisico.id }},'articulo_id':$('#id_articulo option:selected').val()});
      else
        $('#span_alerta_unidades').html('');
    });
    
    $("#id_clave").live('mouseup', function () {
      $(this).select();
    });



    $('#btnCancel').on('click', function () {
      $("#myModal input").val()='';
    });

    $('#myModal').on('shown', function () {
      $("#myModal input").first().focus();
        alert ('ya'+$("#myModal input").first().vlaue());
    });

    
    {% if formset.total_form_count > 0 %} 
      
      if ($('form > .errorlist').length == 0)
        $('#myModal').modal();
        $("#myModal input").first().focus();
    {% endif %}
  });

  function mostrar_articulo(data){
    if (data.articulo_id != 0)
    {
      $('#id_articulo-deck').attr('style','');
      $('#id_articulo-deck').html('<span class="div hilight" data-value="'+data.articulo_id+'"><span style="display: inline;" class="remove div">X</span>'+data.articulo_nombre+'</span>');
      $('#id_articulo').html('<option selected="selected" value="'+data.articulo_id+'"></option>');
      $('#id_articulo_text').hide();

      Dajaxice.microsip_web.apps.inventarios.get_articulosen_inventario(mostrar_unidades,{'inventario_id': {{ InventarioFisico.id }},'articulo_id':$('#id_articulo option:selected').val()});
    }
     else
    {

      $('#id_articulo_text').attr('style','');
      $('#id_articulo-deck').html('');
      $('#id_articulo').html('');
      $('#id_articulo_text').show(); 
      alert('No existe ningun articulo con la clave ['+ $("#id_clave").val() +']');
      $("#id_clave").focus();
      $("#id_clave").select();

    }
  }


  function mostrar_unidades(data) 
  {
    $("#id_unidades").val('');
    $(".span_clave").hide();
    $(".span_articulo").show();
    $("#buscar_btn").hide();
    $("#cancelar_btn").show();
    $("#id_unidades").focus();

    if (data.unidades > 0 )
    {
      $('#span_alerta_unidades').html(' Ya existen '+ data.unidades + ' en inventario.');
      alert(' Ya existen '+ data.unidades + ' en inventario.\n Detalles:\n '+ data.detalle_modificaciones );
      $("#id_unidades").focus();
    }
    else
      $('#span_alerta_unidades').html('');

    $(".remove").on('click', function(){
      $('#span_alerta_unidades').html('');
      $("#id_unidades").val('');
      $(".span_clave").show();
      $(".span_articulo").hide();
      $("#id_unidades").focus();
    });

  }

</script>



{% endblock %}
{% block breadcrumb %}{{ block.super }} <a href="/inventarios/InventariosFisicos/">Inventarios Fisico</a> <i class=" icon-play"></i>Inventario Fisico a apuerta abierta {% endblock %}
{% block content %}
<div id="modal_cargando" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <p class="text-center">Agregando articulos, Por favor espera.</p>
    <img class= 'imagecenter' src="{{STATIC_URL}}img\ajax-loader.gif">  
    <br>
</div>
<form method="post" class="form-horizontal" action="" width="300px"  enctype='multipart/form-data'>
  {% if message %}
  <div class="alert alert-block alert-error fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4 class="alert-heading">Oh NO! Ocurio un error!</h4>
    <p>{{ message }}</p>
  </div>
  {% endif %}
  <div class="ms-custom-form">
    <div id="ms-custom-form-header">
      <div class='span ' >
        <h3 class='span'>Inventario Fisico 
          <ul class="nav btn btn-mini" style=" margin: 0px; ">
            <li class="dropdown">
              <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-cog"></i></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1" style='text-align:left;'>
                <li><a tabindex="-1" href="#articulosnocont_porlinea_Modal" role="button" data-toggle="modal"><i class="icon-tasks"></i> Agregar articulos no contabilizados Por linea</a></li>
                <li><a tabindex="-1" href="#" onclick="agregar_articulosfn()"><i class="icon-align-justify"></i> Agregar todos los articulos no contabilizados</a></li>
              </ul>
            </li>
          </ul>
        </h3>
      </div>
      <div class=" pull-right ms-form-right-detail hidden-phone">
        <div class="span2" >
          <label>Fecha</label>
          <div >
            {{ InventarioFisico.fecha }} 
          </div>
        </div> 
        <div class="span2" >
          <label>Folio</label>
          <div >
            {{ InventarioFisico.folio }} 
          </div>
        </div>  
      </div>
    </div>
    <div id="ms-custom-form-footer">
      <div class='span all_screen' >
        {{ ubicacion_form.ubicacion }}
      </div>
      <div  class=" pull-right ">
        <div class="span4">
          <strong>Alamacen: </strong> {{ InventarioFisico_form.almacen }} {{ InventarioFisico.almacen }} 
        </div>
      </div>  
    </div>
  </div>
  {% csrf_token %}
   <div id="articulosnocont_porlinea_Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      Agregar articulos no contabilizados por linea <br>
    </div>
    <div class="modal-body">
      Seleciona una linea por favor {{ lineas_form }}
    </div>
    <div class="modal-footer">
      <button class="btn" id='btnCancel' data-dismiss="modal">Cancelar</button>
      <a class='btn' href="#" onclick="agregar_articulos_porlineafn();" id='id_agregar_articulos_porlinea'>Aceptar</a>
    </div>
  </div>

  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{ formset.management_form }}
    {{ formset.non_field_errors }}
    <div class="modal-header">
      {% if msg_series %}
      <div class="alert alert-block alert-error fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>{{ msg_series }}</p>
      </div>
      {% endif %}
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="myModalLabel">Numeros de Series</h3>
    </div>
    <div class="modal-body">
      <table class="table tableCell table-hover tablesorter" id="id_numeros_serie" border="0" cellpadding="0" cellspacing="1">
        <thead>
          <tr>
            <th >Claves o Numeros de series</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="sortable">
          {% for form in formset.forms %}
          <tr id="{{ form.prefix }}-row" class="form-container">
              {% for hid in form.hidden_fields %} {{hid}}{% endfor %} 
              <td>{{ form.clave }}</td>
              <td>
                {% if not inicio_form %}
                    <div class="text-error">
                      {{ form.errors }}
                    </div>
                {%  endif %}
              </td>
          </tr>
          {% endfor %}
       </tbody>
     </table>
    </div>
    <div><h5>Numeros de serie actuales</h5></div>
    <div>

    {% for articulo_discreto in articulos_discretos_actuales %}
      {{ articulo_discreto.art_discreto.clave }} /
    {% endfor %}
    </div>
    <div class="modal-footer">
      <button class="btn" id='btnCancel' data-dismiss="modal">Cancelar</button>
      <button type="submit" class="btn" name='add_button'>Aceptar</button>
    </div>
  </div>
  
  {{ ubicacion_form.errors }}  
  {{ detalleInvForm.errors }}
  <div class="span" >
    <div class="input-prepend input-append">
      {{ detalleInvForm.clave }}
    </div>
    <div class="input-prepend input-append">
      {{ detalleInvForm.articulo }}
      <span id='span_alerta_unidades' class="text-error" style=" background-color: rgb(255, 0, 0); color: white;"> </span>
    </div>
    <div class="input-prepend input-append">
      {{ detalleInvForm.unidades }}
      <button type="submit" class="btn _block" onclick="this.disabled=true,this.form.submit(), this.value='Enviando...';" id='btn_submit_articulos' name='add_button'>Enviar</button>
    </div>
  </div>
  <br>
  <br>
  <br style='clear:both;'>
  <br>
  <div class="pagination pagination-mini mainmenu " style=" margin-bottom: 0px; ">
    <ul>
      {% if detallesInventario.has_previous %}
      <li><a href="?page={{ detallesInventario.previous_page_number }}">Anterior</a></li>
      {% else %}
      <li class="disabled"><a href="#">Anterior</a></li>
      {% endif %}
      <li class="disabled"><a href="#">Pagina {{ detallesInventario.number }} de {{ detallesInventario.paginator.num_pages }}.</a></li>
      {% if detallesInventario.has_next %}
      <li><a href="?page={{ detallesInventario.next_page_number }}">Siguiente</a></li>
      {% else %}
      <li class="disabled"><a href="#">Siguiente</a></li>
      {% endif %} 
    </ul>
  </div>
  <p class="text-center ">Son {{ articulos_eninventario }} Articulos en total</p>
  <table class="table table-striped table-hover">
    <tr>
      <th class="hidden-phone">Clave</th>
      <th>Articulo</th>
      <th>Unidades</th>
    </tr>
    {% for detalle in detallesInventario %}
    <tr>
      <td class="hidden-phone"> {{ detalle.clave }} </td>
      <td> {{ detalle.articulo }} </td>
      <td> {{ detalle.unidades }} </td>
    </tr>
    {% endfor %}
  </table>
</form>

{% endblock %}