{% extends "inventarios/base.html" %}
{% block title %}INV. {{ InventarioFisico.folio}} ({{ InventarioFisico.almacen}}){% endblock %}

<!-- CSS Code -->
{% block style_css %}
<link rel='stylesheet' href='{{STATIC_URL}}css/inventarios.css'/>
{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}
{% include 'autocomplete_light/static.html' %}      

<script type="text/javascript">  
function enviar_unidades()
{
  if ( $("#id_seguimiento").val() == 'S')
    window.location.href = "/inventarios/inventarioFisico_mobile/articulo_serie/" + $('#id_articulo option:selected').val() + "/" + $("#id_unidades").val() + "/";
  else
  {
    if ($('#id_ubicacion').val() != '' &&  $('#id_unidades').val() != '')
    { 
      Dajaxice.microsip_web.apps.inventarios.add_aticulosinventario(limpiarForm, {'inventario_id': {{ InventarioFisico.id }},'articulo_id':$('#id_articulo option:selected').val(),'unidades':$('#id_unidades').val(), "ubicacion": $('#id_ubicacion').val()});
      limpiarForm();
    }
    else
    {
      if ($('#id_ubicacion').val() == '')
        alert("Por favor indica una ubicacion");
      if ($('#id_unidades').val() == '')
        alert("Por favor indica la cantidad de articulos");
    }
  } 
}

function limpiarForm()
{

  $('#span_alerta_unidades, #id_articulo, #id_articulo-deck').html('');
  $("#id_unidades, #id_clave, #id_articulo_text").val('');
  $("#buscar_btn").show();
  $(".span_unidades, #cancelar_btn").hide();

  if ($("#chbx_modorapido").is('checked'))
  {
    $(".span_articulo").hide();
    $(".span_clave, #id_clave").show();
    $("#id_clave").focus();
  }
  else
  {
    $(".span_clave").hide();
    $(".span_articulo, #id_articulo_text").show();
    $("#id_articulo-text").focus();
  }
}
   
function load_localstorage()
{
  modo_rapido = localStorage.getItem("modo_rapido");
  if (modo_rapido == null)
    localStorage.setItem("modo_rapido", 'false');
  
  if(localStorage.getItem("modo_rapido") == 'true')
    $("#id_clave").focus();
  else
  {
    $("#id_articulo_text").focus();
    $("#chbx_modorapido").attr('checked', true);
  }

  $('#id_clave').focusin(function(){
    if (localStorage.getItem("modo_rapido") == 'false')
      localStorage.setItem("modo_rapido", 'true');
  });

  $('#id_articulo_text').focusin(function(){
    if (localStorage.getItem("modo_rapido") == 'true')
      localStorage.setItem("modo_rapido", 'false');
  });

  ubicacion = localStorage.getItem("ubicacion");
  if (ubicacion == null)
    localStorage.setItem("ubicacion", '');
  
  $("#id_ubicacion").val(localStorage.getItem("ubicacion"));
  $("#id_ubicacion").change(function() {
    localStorage.setItem("ubicacion",$("#id_ubicacion").val());
  });
}

function buscar_clave()
{
  if($("#id_clave").val() != '')
    Dajaxice.microsip_web.apps.inventarios.get_articulo_by_clave(mostrar_articulo,{'clave': $('#id_clave').val(),});
  else
    $("#id_clave").focus();
}

function mostrar_articulo(data){
  $("#id_seguimiento").val(data.articulo_seguimiento);
  
  if (data.articulo_id != 0)
  {
    $('#id_articulo-deck').attr('style','');
    $('#id_articulo-deck').html('<span class="div hilight" data-value="'+data.articulo_id+'"><span style="display: inline;" class="remove div">X</span><a href="/inventarios/articulo/'+ data.articulo_id +'/">'+data.articulo_nombre+'</a></span>');
    $('#id_articulo').html('<option selected="selected" value="'+data.articulo_id+'"></option>');
    $('#id_articulo_text, #id_clave, #buscar_btn, .span_clave').hide();
    $("#cancelar_btn, #id_unidades, .span_unidades, #id_articulo-deck, .span_articulo").show();

    Dajaxice.microsip_web.apps.inventarios.get_articulosen_inventario(mostrar_unidades,{'inventario_id': {{ InventarioFisico.id }},'articulo_id':$('#id_articulo option:selected').val()});
  }
   else
  {
    $('#id_articulo_text').attr('style','');
    $('#id_articulo-deck, #id_articulo').html('');
    $('#id_articulo_text').show(); 
    alert('No existe ningun articulo con la clave ['+ $("#id_clave").val() +']');
    $("#id_clave").focus();
    $("#id_clave").select();
  }
  

}


function mostrar_unidades(data) 
{

  if (data.unidades > 0 )
  {
    $('#span_alerta_unidades').html(' Ya existen '+ data.unidades + ' en inventario.');
    alert(' Ya existen '+ data.unidades + ' en inventario.\n Detalles:\n '+ data.detalle_modificaciones );
  }
  else
    $('#span_alerta_unidades').html('');

  // $(".remove").on('click', function(){
    
  // });

  $("#id_unidades").focus();
}

$(document).ready(function(){
  $("#id_articulo_text").hide();
  $('#id_clave').focus();
  $(".span_unidades").hide();
  $("#cancelar_btn").hide();
  $("#chbx_modorapido").attr('checked', true);
  

  $('#id_unidades, #id_articulo_text').focus(function() { 
    setTimeout(function(){
      window.scrollTo(0, 3);
    }, 0);  
  });

  /* LOCAL STORAGE */
  load_localstorage();
  $("#chbx_modorapido").change(limpiarForm);
  
  //Busacar articulo por clave al precionar enter
  $('#id_clave').on( "keydown", function(e) { 
    var keyCode = e.keyCode || e.which; 

    if (keyCode == 13 || keyCode == 9) 
    { 
      if($("#id_clave").val() != '')
        Dajaxice.microsip_web.apps.inventarios.get_articulo_by_clave(mostrar_articulo,{'clave': $('#id_clave').val(),});
      else
        $("#id_articulo_text").focus();
      return false
    }
  });

  $("#id_articulo").change(function(){
    if ($("#id_articulo").children().length > 0)
      Dajaxice.microsip_web.apps.inventarios.get_articulosen_inventario(mostrar_unidades,{'inventario_id': {{ InventarioFisico.id }},'articulo_id':$('#id_articulo option:selected').val()});
    else
      $('#span_alerta_unidades').html('');

    
  });

  // $("#id_articulo").change(function(){
  //   if ($("#id_articulo").children().length > 0)
  //   {
  //     $("#cancelar_btn, #id_unidades, .span_unidades, #id_articulo-deck").show();
  //     Dajaxice.microsip_web.apps.inventarios.get_articulosen_inventario(mostrar_unidades,{'inventario_id': {{ InventarioFisico.id }},'articulo_id':$('#id_articulo option:selected').val()});
  //     $('#id_clave, #buscar_btn, .span_clave').hide();
  //   }
  //   else
  //     $('#span_alerta_unidades').html('');
  // });

  $("#id_clave").live('mouseup', function () {
    $(this).select();
  });

});


</script>



{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block content %}
<form method="post" class="form-horizontal" action="#">
  <input type="hidden" id ="id_seguimiento" name="seguimiento" value="">
  <div class="ms-custom-form collapse">
    <div>
      <div class='span all_screen' >
        <label class="small_screen"> Ubicacion</label> 
        <input class="input-small" id="id_ubicacion" name="ubicacion" placeholder="Ubicacion.." type="text">  
        <input type="checkbox" id="chbx_modorapido" value="ham" /><div class="small_screen" style="font-size: .8em;">Rapido</div>
      </div>
    </div>
  </div>
  <div id="span_details" class="small_screen_block">
    <button type="button" class="btn btn-mini btn-navbar" data-toggle="collapse"  data-target=".ms-custom-form">
      <i class="icon-arrow-down"></i>
    </button>
  </div>
  {% csrf_token %}
  
  {{ ubicacion_form.errors }}  
  {{ detalleInvForm.errors }}
  <div class="span span_clave" >
    <div class="input-prepend input-append">
      <span class="add-on ">#</span>
      {{ detalleInvForm.clave }}
    </div>
  </div>
  <div class="span span_articulo" >
    <div class="input-prepend input-append">
      {{ detalleInvForm.articulo }}
    </div>
    <span id='span_alerta_unidades' class="text-error" style=" background-color: rgb(255, 0, 0); color: white;"> </span>
  </div>
  <a id="buscar_btn" class= "btn btn-primary span12 " href="#" onclick="buscar_clave()" ><i class="icon-search icon-white"></i> Buscar</a>
  <div class="span1 span_unidades" >
    <div class="input-prepend input-append">
      {{ detalleInvForm.unidades }}
      <a class="btn btn-success " id="enviar_btn" onclick="enviar_unidades()" href="#">Enviar</a>
    </div>
  </div>
  <br>
  <a id="cancelar_btn" class= "btn btn-danger span12 " href="#" onclick="limpiarForm();" >Cancelar</a>
  <br style='clear:both;'>
</form>

{% endblock %}