{% extends "inventarios/base.html" %}
{% block title %}Inicio{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}
{% include 'autocomplete_light/static.html' %}     
<script type="text/javascript">
  
</script>
{% endblock %}

{% block breadcrumb %}{{ block.super }}Inventarios fisicos en vivo{% endblock %}
{% block content %}
<div class="ms-custom-form container-fluid hidden-phone">
  <div class="row-fluid">
    <div class="span3"><h3>Inventario Fisico en vivo</h3></div>
    <div class="span8" style=" margin-top: 15px; ">
    </div>
  </div>
</div>
{{ form.errors }}
<form method="post" class="form-horizontal" action="" width="300px"  enctype='multipart/form-data'>{% csrf_token %}
  <div class="input-prepend input-append">
    {{ form.claveArticulo }}
  </div>
  <div class="input-prepend input-append">
    {{ form.articulo }}
    <span id='span_alerta_unidades' class="text-error" style=" background-color: rgb(255, 0, 0); color: white;"> </span>
  </div>
  <div class="input-prepend input-append">
    {{ form.unidades }} 
    {{ form.costo_unitario }}
    <button type="submit" class="btn _block" onclick="this.disabled=true,this.form.submit(), this.value='Enviando...';" id='btn_submit_articulos' name='add_button'>Enviar</button>
  </div>
</form>
<table class="table table-striped table-hover">
    <tr>
      <th class="hidden-phone">articulo</th>
      <th class="hidden-phone">unidades</th>
      <th class="hidden-phone">Tipo</th>
    </tr>
    {% for detalle_inv in detalles_inv %}
    <tr>
      <td class="hidden-phone">{{ detalle_inv.articulo }}</td>
      <td class="hidden-phone">{{ detalle_inv.unidades }}</td>
      <td class="hidden-phone">{{ detalle_inv.tipo_movto }}</td>      
    </tr>
    {% endfor %}
</table>
<br>
{% endblock %}