{% extends extend %}
{% block title %}Paises{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}{% endblock %}

{% block breadcrumb %}{{ block.super }} Paises {% endblock %}
{% block content %}

<div class="row-fluid">
	<div class="span3"><h3 style="margin:0;"> Paises</h3> </div>
    <a href="/{{ modulo }}/pais/" class="btn"> Nuevo</a>
</div>

<table class="table tableCell table-hover">
    <tr>
      <th>Nombre</th>    </tr>
    {% for pais in paises %}
    <tr>
      <td><a href="/{{ modulo }}/pais/{{ pais.id }}/">{{ pais.nombre }}</a></td>
    </tr>
    {% endfor %}

    <div class="pagination pagination-mini mainmenu">
      <ul>
        {% if paises.has_previous %}
        <li><a href="?page={{ paises.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="disabled"><a href="#">Anterior</a></li>
        {% endif %}
        <li class="disabled"><a href="#">Pagina {{ paises.number }} de {{ paises.paginator.num_pages }}.</a></li>
        {% if paises.has_next %}
        <li><a href="?page={{ paises.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="disabled"><a href="#">Siguiente</a></li>
        {% endif %} 
      </ul>
    </div>
</table>
<br>
{% endblock %}