{% extends "punto_de_venta/base.html" %}
{% block title %}lineas articulos{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}{% endblock %}

{% block breadcrumb %}{{ block.super }}  Lineas Articulos {% endblock %}
{% block content %}

<div class="row-fluid">
  <div class="span3"><h3 style="margin:0;"> Lineas</h3> </div>
</div>

<table class="table tableCell table-hover">
    <tr>
      <th>Nombre</th>
    </tr>
    {% for linea_articulos in lineas_articulos%}
    <tr>
      <td><a href="/punto_de_venta/linea_articulos/{{ linea_articulos.id }}/">{{ linea_articulos.nombre }}</a></td>
    </tr>
    {% endfor %}

    <div class="pagination pagination-mini mainmenu">
      <ul>
        {% if lineas_articulos.has_previous %}
        <li><a href="?page={{ lineas_articuloss.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="disabled"><a href="#">Anterior</a></li>
        {% endif %}
        <li class="disabled"><a href="#">Pagina {{ lineas_articulos.number }} de {{ lineas_articulos.paginator.num_pages }}.</a></li>
        {% if lineas_articulos.has_next %}
        <li><a href="?page={{ lineas_articulos.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="disabled"><a href="#">Siguiente</a></li>
        {% endif %} 
      </ul>
    </div>
</table>
<br>
{% endblock %}