{% extends "inventarios/base.html" %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}
{% endblock %}

{% block breadcrumb %}{{ block.super }}Almacenes{% endblock %} Almacen {{ almacen_nombre }}
{% block content %}
<!-- MODALES -->
<div id="modal_primerconteo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Ajustes en primer conteo</h3> <br>
  </div>
  <div class="modal-body">
    <p class="text-warning">
      Esta opcion <strong>ajusta la existencia</strong> de los articulos en el primer conteo <strong> a la cantidad de articulos indicada</strong>
    </p>
    <p>
      Ejemplo
    </p>
    <p>No se ha contado el articulo lapiz y la exitencia actual es de <strong>10 unidades</strong>, posteriormente <strong>mando 2 unidades en el formulario </strong><br/>
      <br/>
      <strong>Como resultado tendre</strong>
    </p>
    <p>Con ajuste en primero conteo</p>
    <blockquote>
      <p><small>Existencias <strong>2 unidades</strong></small></p>
    </blockquote>
    <p>Sin ajuste en primero conteo</p>
    <blockquote>
      <p><small>Existencias <strong>12 unidades</strong></small></p>
    </blockquote>
  </div>
  <div class="modal-footer">
    <button class="btn" id='btnCancel' data-dismiss="modal">Cerrar</button>
  </div>
</div>

<div id="modal_modificacostos" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Modificar costos en conteos</h3> <br>
  </div>
  <div class="modal-body">
    <p class="text-warning">
      Esta opcion permitira modificar los costos de los articulos a <strong> los usuario que tengan este permiso </strong> 
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cerrar</button>
  </div>
</div>

<div id="modal_abrir_inventario" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 id="myModalLabel">Abrir inventario fisico</h4>
  </div>
  <div class="modal-body">

    <input checked="checked" type="checkbox"> <a class="label label-warning" href="#modal_primerconteo" role="button" data-toggle="modal">Precausion!</a>  Manejar ajuste en primero conteo
    <br>
    <input checked="checked" type="checkbox"> <span class="label label-warning">Precausion!</span> Crear inventario fisico de articulos no contados al cerrar inventario
  </div>
  <div class="modal-footer">
    <button class="btn" id='btnCancel' data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn" onclick="" id='add_seies_btn'>Aceptar</button>
  </div>
</div>
<form method="post" class="form-horizontal" action="" width="300px"  enctype='multipart/form-data'>{% csrf_token %}
<div id="sic_from" class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="container-fluid">
        <div class="row-fluid">
          <h3>Abrir Inventario</h3>  
          <br><strong>Almacen </strong>{{ almacen_nombre }}
        </div>
      </div>
    </div>
    <div class="span9">
      <div id='main_form'>
         <button type="submit" class="btn" ><i class="icon-download-alt"></i> Guardar</button>
      </div>
    </div>
  </div>
</div>
{{ form.errors }}
{{ form.inventario_conajustes }} <a class="label label-warning" href="#modal_primerconteo" role="button" data-toggle="modal">Precausion!</a> Manejar ajuste en primero conteo 
<br>
{{ form.inventario_modifcostos }} <a class="label label-warning" href="#modal_modificacostos" role="button" data-toggle="modal">Precausion!</a> Modificar costos en conteos
</form>


<br>
{% endblock %}