{% extends "main/articulos/articulos/articulo_base.html" %}
{% load punto_de_venta_tags %}
{% block js_code %}
{% endblock %}
{% block errors %}
  {{ impuesto_articulo_form.errors }}
{% endblock %}
{% block extra_tabs %}
	<li class=""><a href="#ventas" data-toggle="tab">Ventas</a></li>
  {% alertas_tab %}
{% endblock %}
{% block ventas_form %}
  <div class="tab-pane fade " id="ventas">  
    <fieldset>
      <legend>Precios</legend>
      <table class="table" id="id_precios" border="0" cellpadding="0" cellspacing="5">
        <tbody>
          {% for form in precios_formset.forms %}
          <tr id="{{ form.prefix }}-row" class="form-container">
           <td>
           {% for hid in form.hidden_fields %} {{hid}}{% endfor %} 
           {{ form.errors }}
           {{ form.precio_empresa }}
           {{ form.precio }}
           {{ form.moneda }}
           {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
           </td>
          </tr>
          {% endfor %}
       </tbody>
     </table>
    {{ precios_formset.management_form }}  
    </fieldset> 
    <label>Impuesto</label>
    {{ impuesto_articulo_form.impuesto }}      
  </div>
{% endblock %}
