{% extends "punto_de_venta/base.html" %}
{% block title %}Facturas{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}
  <script src="{{STATIC_URL}}js/punto_de_venta/documentos.facturas.js"></script>
{% endblock %}

{% block breadcrumb %}{{ block.super }} Facturas {% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span3"><h3 style="margin:0;"> Facturas</h3> </div>
  <a href="/punto_de_venta/factura/nueva/" class="btn"> Nueva</a>
</div>
fecha[{{ fecha }}]
<table class="table tableCell table-hover">
    <tr>
      <th>Folio</th>
      <th>Fecha</th>
      <!-- <th>Opciones</th> -->
    </tr>
    {% for factura in facturas %}
    <tr>
      <td>
        {% if factura.estado = "C" %}
        <a href="/punto_de_venta/factura/{{ factura.id }}/" class="text-error" >{{ factura.folio }}</a>
        {% else %}
        <a href="/punto_de_venta/factura/{{ factura.id }}/" >{{ factura.folio }}</a>
        {% endif %}
      </td>
      <td>{{ factura.fecha }}</td>
      <!-- <td>
        <input type="hidden" value="{{ factura.id }}" class='factura_id'>
        {% if factura.aplicado == 'N' %} <a href="" class="btn aplicar_btn">Aplicar</a> {% endif %}
      </td> -->
    </tr>
    {% endfor %}

    <div class="pagination pagination-mini mainmenu">
      <ul>
        {% if facturas.has_previous %}
        <li><a href="?page={{ facturas.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="disabled"><a href="#">Anterior</a></li>
        {% endif %}
        <li class="disabled"><a href="#">Pagina {{ facturas.number }} de {{ facturas.paginator.num_pages }}.</a></li>
        {% if facturas.has_next %}
        <li><a href="?page={{ facturas.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="disabled"><a href="#">Siguiente</a></li>
        {% endif %} 
      </ul>
    </div>
</table>
<br>
{% endblock %}