{% extends extend %}
{% load punto_de_venta_tags %}
{% block title %}Linea Articulo{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}
<script>
  $(function() {
    
    if ($('#id_hereda_puntos').is(':checked'))
      $('#div_puntos, #div_dinero_electronico').hide();
    else
    {
      $('#div_puntos, #div_dinero_electronico').show();
      if ($('#id_puntos').val() == '') 
        $('#id_puntos').val(0);
      if ($('#id_dinero_electronico').val() == '') 
        $('#id_dinero_electronico').val(0);
    }
        

    $('#id_hereda_puntos').click(function() {
        if ($(this).is(':checked')) 
          $('#div_puntos, #div_dinero_electronico').hide();
        else
        {
          $('#div_puntos, #div_dinero_electronico').show();
          if ($('#id_puntos').val() == '') 
            $('#id_puntos').val(0);
          if ($('#id_dinero_electronico').val() == '') 
            $('#id_dinero_electronico').val(0);
        }
    });
  });
</script>
{% endblock %}

{% block breadcrumb %}{{ block.super }} <a href="/{{ modulo }}/lineas/">Lineas Articulos</a> <i class=" icon-play"></i> Linea Articulo{% endblock %}
{% block content %}
<form method="post" class="form-horizontal" action="" width="300px"  enctype='multipart/form-data'>{% csrf_token %}
  <div class="row-fluid">
    <div class="span3"><h3 style="margin:0;"> Linea</h3> </div>
    <button type="submit" class="btn"><i class="icon-download-alt"></i> Guardar</button> 
    <a href="#" class="btn disabled"><i class="icon-trash"></i></a> 
  </div>
  {{ form.errors }}
  {% if message %}
  <div class="alert alert-block alert-error fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4 class="alert-heading">Oh NO! Ocurio un error!</h4>
    <p>{{ message }}</p>
  </div>
  {% endif %}
  <ul id="myTab" class="nav nav-tabs " style="margin-bottom: 0;">
    <li class="active"><a href="#general" data-toggle="tab">General</a></li>
    {% puntos_tab %}
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="general" style="padding-bottom: 0;">
      <div class="row-fluid">
        <div class="span4" >
          <label>Nombre</label>
          <div class="input-prepend input-append">
            {{ form.nombre }}
          </div>
        </div>
        <div class="span4" >
          <label>Grupo <a href="/{{ modulo }}/grupo/{{form.grupo.value}}/">Ir a Grupo</a></label>
          <div class="input-prepend input-append">
            {{ form.grupo }}
          </div>
        </div>
      </div>
      <br>
    </div>

    <div class="tab-pane fade" id="puntos" style="padding-bottom: 0;">
      <div class="row-fluid">
        <div class="span4"  style='clear:both;'>
          <label>Hereda puntos o dinero electronico</label>
          <div class="input-prepend input-append">
            {{ form.hereda_puntos }}
          </div>
        </div>
        <div id="div_puntos"class="span4" >
          <label>Puntos</label>
          <div class="input-prepend input-append">
            {{ form.puntos }}
          </div>
        </div>
        <div id="div_dinero_electronico" class="span4" >
          <label>Dinero Elecronico (% de costo)</label>
          <div class="input-prepend input-append">
            {{ form.dinero_electronico }}
          </div>
        </div>
      </div>
      <br>
    </div>
  <div>
 
  
  
  <br style='clear:both;'>
</form>
{% endblock %}