{% extends extend %}
{% block title %}Estados{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}{% endblock %}

{% block breadcrumb %}{{ block.super }} Estados {% endblock %}
{% block content %}

<div class="row-fluid">
	<div class="span3"><h3 style="margin:0;"> Estados</h3> </div>
    <a href="/{{ modulo }}/estado/" class="btn"> Nuevo</a>
</div>

<table class="table tableCell table-hover">
    <tr>
      <th>Nombre</th>    </tr>
    {% for estado in estados %}
    <tr>
      <td><a href="/{{ modulo }}/estado/{{ estado.id }}/">{{ estado.nombre }}</a></td>
    </tr>
    {% endfor %}

    <div class="pagination pagination-mini mainmenu">
      <ul>
        {% if estados.has_previous %}
        <li><a href="?page={{ estados.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="disabled"><a href="#">Anterior</a></li>
        {% endif %}
        <li class="disabled"><a href="#">Pagina {{ estados.number }} de {{ estados.paginator.num_pages }}.</a></li>
        {% if estados.has_next %}
        <li><a href="?page={{ estados.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="disabled"><a href="#">Siguiente</a></li>
        {% endif %} 
      </ul>
    </div>
</table>
<br>
{% endblock %}