{% extends "ventas/base.html" %}
{% block title %}pedidos{% endblock %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}{% endblock %}

{% block breadcrumb %}{{ block.super }}  pedidos {% endblock %}
{% block content %}
<div class="ms-custom-form container-fluid">
    <div class="row-fluid">
        <div class="span2"><h3>Pedidos</h3></div>
      <div class='span7' style=" margin-top: 1em; ">  
        <a class="btn" href="/ventas/pedido/"> Nuevo</a>
      </div>
    </div>
  </div>
<table class="table tableCell table-hover">
    <tr>
      <th>Nombre</th>
      <th>Folio</th>
    </tr>
    {% for pedido in pedidos %}
    <tr>
      <td><a href="/ventas/pedido/{{pedido.id}}/">{{ pedido.id }}</a></td>
      <td>{{pedido.folio }}</td>
    </tr>
    {% endfor %}

    <div class="pagination pagination-mini mainmenu">
      <ul>
        {% if pedidos.has_previous %}
        <li><a href="?page={{ pedidos.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="disabled"><a href="#">Anterior</a></li>
        {% endif %}
        <li class="disabled"><a href="#">Pagina {{ pedidos.number }} de {{ pedidos.paginator.num_pages }}.</a></li>
        {% if pedidos.has_next %}
        <li><a href="?page={{ pedidos.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="disabled"><a href="#">Siguiente</a></li>
        {% endif %} 
      </ul>
    </div>
</table>
<br>
{% endblock %}