{% extends "inventarios/base.html" %}

<!-- CSS Code -->
{% block style_css %}{% endblock %}

<!-- JavaScript Code -->
{% block js_code %}{% endblock %}

{% block breadcrumb %}{{ block.super }} Entradas {% endblock %}
{% block content %}

<div id="sic_from" class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="container-fluid">
        <div class="row-fluid">
          <h3>Entradas</h3>  
        </div>
      </div>
    </div>
    <div class="span10">
      <div id='main_form'>
        <a class="btn" href="/inventarios/entrada/"><i class="icon-plus"></i></a>
      </div>
    </div>
  </div>
</div>
<table class="table tableCell table-hover">
    <tr>
      <th>FOLIO</th>
      <th>FECHA</th>
      <th>DESCRIPCION</th>
      <!-- <th>OPCIONES</th> -->
    </tr>
    {% for entrada in entradas%}
    
    <tr>
      
      <td><a href="/inventarios/entrada/{{ entrada.id }}/">{{ entrada.folio }}</a></td>
      <td>{{ entrada.fecha }}</td>
      <td>{{ entrada.descripcion }}</td>
      <!-- <td style="text-align:center;">
        <a href='#myModal{{ entrada.id}}' data-toggle="modal" class="btn btn-mini btn-danger"><i class="icon-trash"></i></a>
      </td> -->
    </tr>
    {% endfor %}

    <div class="pagination pagination-mini mainmenu">
      <ul>
        {% if entradas.has_previous %}
        <li><a href="?page={{ entradas.previous_page_number }}">Anterior</a></li>
        {% else %}
        <li class="disabled"><a href="#">Anterior</a></li>
        {% endif %}
        <li class="disabled"><a href="#">Pagina {{ entradas.number }} de {{ entradas.paginator.num_pages }}.</a></li>
        {% if entradas.has_next %}
        <li><a href="?page={{ entradas.next_page_number }}">Siguiente</a></li>
        {% else %}
        <li class="disabled"><a href="#">Siguiente</a></li>
        {% endif %} 
      </ul>
    </div>
</table>
<br>
{% endblock %}