{% extends "base.html" %}
{% block title %}Ventas{% endblock %}

<!-- CSS Code -->
{% block modulestyle_css %}
{% endblock %}
<!-- JavaScript Code -->
{% block js_code %}{% endblock %}
{% block breadcrumb %}{{ block.super }} Ventas <i class=' icon-play'></i> {% endblock %}
{% block tools-module %}
<div class="navbar navbar-static">
  <ul class="nav" role="navigation">
    {% load main_menu_tags %}
    <!-- {% ventas_tools_menu 'documentos' %} -->
    {% for submenu in menu_ventas %}
    <li class="dropdown">
      <a id="drop1" href="#"role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="{{ submenu.icon_class }}"></i> {{ submenu.name }} <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
        {% for link in submenu.items %}
          <li><a tabindex="-1" href="{{ link.url }}"><i class="{{ link.icon_class }}"></i> {{ link.name }}</a></li>  
        {% endfor %}
      </ul>
    </li>  
    {% endfor %}
  </ul>
  <ul class="nav pull-right">
    {% ventas_tools_menu 'herramientas' %}
  </ul>
</div>
{% endblock %}
{% block content %}
{% endblock %}